@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@this()(implicit assets: AssetsFinder)
@(forgotPasswordForm: Form[String])(implicit request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main(messages("forgot.password.title")) {
<div class="container my-3">
    <div class="row">
        <div class="col-12 text-center">
            <img alt="logo_100x100" src='@routes.Assets.at("images/logo_100x100.png")' width=100>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <fieldset class="col-md-6 offset-md-3">
                <legend class="my-3">@messages("forgot.password")</legend>
                @helper.form(action = controllers.routes.ForgotPasswordController.submit(), Symbol("autocomplete") -> "off") {
                    <p class="info">@messages("forgot.password.info")</p>
                    @helper.CSRF.formField
                    @b4.text(forgotPasswordForm("email"), Symbol("placeholder") -> messages("email"), Symbol("class") -> "my-3")
                    <div class="form-group my-3">
                        <div>
                            <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("send")</button>
                        </div>
                    </div>
                }
            </fieldset>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-12 text-center">
            <img alt="logo_100x100" src='@routes.Assets.at("images/logo_100x100.png")' width=100>
        </div>
    </div>
</div>
}
