@import play.api.mvc.RequestHeader
@import play.api.i18n.Messages

@this()(implicit assets: AssetsFinder)
@(optionUser: Option[models.User])(implicit request: RequestHeader, messages: Messages)

@main(Messages("home.title"), optionUser) {
<div class="alert alert-warning alert-dismissible fade show text-center mb-1" role="alert">
  <strong>@Messages("main.top.notice")</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="main-banner" style="margin-bottom: 30px">
  <div id="mainBannerCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#mainBannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#mainBannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#mainBannerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#mainBannerCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src='@assets.path("images/main-banner-desktop1.jpg")' class="d-block w-100" style="height:70vh; object-fit:cover" alt="...">
        <div class="carousel-notice">
          <h1 style="font-family: 'Do Hyeon', sans-serif;">미리미리 예약하고 이쁜 꽃다발 받기</h1>
        </div>
        <div class="carousel-caption">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src='@assets.path("images/main-banner-desktop2.jpg")' class="d-block w-100" style="height:70vh; object-fit:cover" alt="...">
        <div class="carousel-notice">
          <h1 style="font-family: 'Do Hyeon', sans-serif;">꽃 정기 구독해서 이쁜 생활 하세요</h1>
        </div>
        <div class="carousel-caption">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src='@assets.path("images/main-banner-desktop3.jpg")' class="d-block w-100" style="height:70vh; object-fit:cover" alt="...">
        <div class="carousel-notice">
          <h1 style="font-family: 'Do Hyeon', sans-serif;">특별한 날 특별한 이벤트를 꽃과 함께 나누세요</h1>
        </div>
        <div class="carousel-caption">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src='@assets.path("images/main-banner-desktop4.jpg")' class="d-block w-100" style="height:70vh; object-fit:cover" alt="...">
        <div class="carousel-notice">
          <h1 style="font-family: 'Do Hyeon', sans-serif;">앙풀에서 꽃 수업합니다. 원하시는 과정을 확인하세요~</h1>
        </div>
        <div class="carousel-caption">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev d-none d-sm-block" type="button" data-bs-target="#mainBannerCarousel"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next d-none d-sm-block" type="button" data-bs-target="#mainBannerCarousel"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">Punny headline</h1>
    <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="p-3 p-md-5 m-md-3 bg-light">
  <div class="col-md-5 p-lg-5 my-5">
    <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
    <p class="lead mb-0"><a href="#" class="fw-bold">Continue reading...</a></p>
  </div>
</div>
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <h1>Get started with Bootstrap</h1>
    <p class="fs-5 col-md-8">Quickly and easily get started with Bootstrap's compiled, production-ready files with this barebones example featuring some basic HTML and helpful links. Download all our examples to get started.</p>

    <div class="mb-5">
      <a href="/docs/5.0/examples/" class="btn btn-primary btn-lg px-4">Download examples</a>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2>Starter projects</h2>
        <p>Ready to beyond the starter template? Check out these open source projects that you can quickly duplicate to a new GitHub repository.</p>
        <ul class="icon-list">
          <li><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap npm starter</a></li>
          <li class="text-muted">Bootstrap Parcel starter (coming soon!)</li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Guides</h2>
        <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
        <ul class="icon-list">
          <li><a href="/docs/5.0/getting-started/introduction/">Bootstrap quick start guide</a></li>
          <li><a href="/docs/5.0/getting-started/webpack/">Bootstrap Webpack guide</a></li>
          <li><a href="/docs/5.0/getting-started/parcel/">Bootstrap Parcel guide</a></li>
          <li><a href="/docs/5.0/getting-started/build-tools/">Contributing to Bootstrap</a></li>
        </ul>
      </div>
    </div>
</div>

}
